@import "../partials/variables";

@mixin dropdown-menu-default {
    background-color: black;
    border-radius: 0;
}

@mixin dropdown-item-default {
    background-color: transparent;
    color: white;

}

@mixin list-item-default {
    padding: 0 2rem;
    background-color: transparent;
    border-color: transparent;
    color: white;
}

@mixin list-item-action {
    background-color: transparent;
    color: $color-secondary;
}

@mixin default-button {
    color: black;
    background-color: $color-secondary !important;
    border-color: $color-secondary !important;
}

@mixin default-banner {
    background-repeat: no-repeat;
    background-size: contain;
}

@mixin leftbanner-triangle-lg {
    border-right: 0px solid #f9aa01;
    border-bottom: 56px solid #f9aa01;
    border-left: 18px solid transparent;
    border-top: 17px solid transparent;
    position: absolute;
    left: -18px;
    top: -15px;
}

@mixin rightbanner-triangle-lg {
    border-right: 0px solid #f9aa01;
    border-bottom: 56px solid #f9aa01;
    border-left: 18px solid transparent;
    border-top: 18px solid transparent;
    position: absolute;
    transform: rotate(180deg);
    right: -18px;
    top: 0;
}


@mixin leftbanner-triangle-md {
    border-right: 0px solid #f9aa01;
    border-bottom: 50px solid #f9aa01;
    border-left: 18px solid transparent;
    border-top: 16px solid transparent;
    position: absolute;
    left: -18px;
    top: -18px;

}

@mixin rightbanner-triangle-md {
    border-right: 0px solid #f9aa01;
    border-bottom: 49px solid #f9aa01;
    border-left: 18px solid transparent;
    border-top: 16px solid transparent;
    position: absolute;
    transform: rotate(180deg);
    right: -18px;
    top: 0;
}

@mixin leftbanner-triangle-sm {
    border-right: 0px solid #f9aa01;
    border-bottom: 24px solid #f9aa01;
    border-left: 10px solid transparent;
    border-top: 16px solid transparent;
    position: absolute;
    left: -10px;
    top: -16px;

}

@mixin rightbanner-triangle-sm {
    border-right: 0px solid #f9aa01;
    border-bottom: 24px solid #f9aa01;
    border-left: 10px solid transparent;
    border-top: 16px solid transparent;
    position: absolute;
    transform: rotate(180deg);
    right: -10px;
    top: 0px;
}
