$color-primary: #1D1427;
$color-secondary: #F9AA01;
$color-text: #FFFFFF;

$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Oxanium', cursive;

$position-values: (
    0: 0,
    50: 75%,
    100: 100%)